@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
  * {
    margin: 0;
    padding: 0;
  }
/* Reset CSS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3b2c49;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}
.mainblock{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    background-color: #ffffff;
    border-radius: 5vw;
    margin-top: 5vw;
}
.ImgPerfil{
  width: 20vw;
  border-radius: 5vw;
}
.maintitle{
  padding-right:20vw;
}
#email {
  cursor: pointer;
  display: inline-block; /* Para garantir que o tamanho não mude */
  width: 250px; /* Largura fixa para o elemento */
  overflow: hidden; /* Oculta o texto que ultrapassa o tamanho definido */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for maior que a largura */
  white-space: nowrap; /* Impede a quebra de linha */
  margin-top: 1vw;
}
.sobre-mim{
  padding-top: 40vh;
}
.content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}