@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
/* Reset CSS */
body {
  background-color: #f8f9fa;
  color: #3b2c49;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}

/* Dark mode - substitui as cores */
body.dark-mode {
  background-color: #121212;
  color: #f8f9fa;
}

nav {
  background-color: #3b2c49;
  color: white;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

body.dark-mode nav {
  background-color: #1f1f1f;
}

nav .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

nav a {
  color: white !important;
  font-size: 1rem;
  margin-right: 15px;
}

nav a:hover {
  color: black !important;
}

body.dark-mode nav a:hover {
  color: #f8f9fa !important;
}

.main-title {
  padding: 14vw 0 6vw 0; /* Ajuste devido ao nav fixo */
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 30px;
}

.section {
  padding: 60px 0;
}

.bg-dark-section {
  background-color: #3b2c49;
  color: white;
}

body.dark-mode .bg-dark-section {
  background-color: #1f1f1f;
  color: #f8f9fa;
}

.btn-custom {
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #3b2c49;
  color: white;
}

body.dark-mode .btn-custom:hover {
  background-color: #121212;
}

.social-btns {
  margin-top: 40px;
}

.social-btns a {
  margin-right: 15px;
}

.tech-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Estilo para a seção de Projetos */
.section.bg-light {
  background-color: #f8f9fa;
}

.project-card {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}

.project-card img {
  border-radius: 5px;
  max-height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.project-card p {
  margin-bottom: 15px;
  color: #6c757d;
}

.project-card .btn {
  margin-top: 10px;
}
